[Unit]
Description=Current Pochino - Arduino Nano Powercut Listener
Requires=dev-ttyUSB0.device
After=dev-ttyUSB0.device

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/pochino_listener.py
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=67

KillSignal=SIGINT
TimeoutStopSec=5

User=you!!
Group=dialout

Environment=PYTHONUNBUFFERED=1
Environment=ARDUINO_SERIAL_PATH=/dev/ttyUSB0

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
